* {
  padding: 0;
  margin: 0;
  
}
.head1
{
  z-index: 10;
}
body
{
  background-color:#212024;
}
nav {
  background-color: #212024;
  width: 100vw;
  height: 3.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  padding-left: 3rem;
  border-bottom: solid white 1px;
}
.keepimg {
  width: 2rem;
  height: 2.6rem;
}
.form {
  background-color: #212024;
  width: 38rem;
  height: 7rem;
  border: solid rgb(198, 198, 198) 2px;
  margin: auto;
  border-radius: 5px;
}

@media (max-width:703px) {
  .form {
    float: right;
    width: 85%;
  }

  .area {
    float: right;
    border-radius: 8px;
  }
}

@media (max-width:525px) {
  .area
  {
    width: 15rem;
  }
}

#card1
{
  background-color: #212024;
  border: solid white 1px;
  border-radius: 8px;
  color: white;
}